.header {
  display: grid;
  overflow: hidden;

  grid-template-columns: 13fr 690px 10fr;
}
.header__logo-wrapper {
  display: flex;

  padding-top: 75px;
  padding-right: 140px;

  justify-content: flex-end;
}
.header__nav {
  order: 2;
}

@media (max-width: 1199.98px) {
  .header {
    padding: 0 50px;

    grid-template-columns: minmax(auto, min-content) 1fr;
    gap: 10px 50px;
    align-items: center;
  }
  .header__logo-wrapper {
    display: flex;

    padding-top: 10px;
    padding-right: 0;

    justify-content: flex-start;
  }
  .header__promo {
    grid-column: 1 / 3;
    order: 2;
  }
}
@media (max-width: 991.98px) {
  .header {
    padding: 0 25px;

    gap: 10px 0;
    grid-template-columns: 1fr;
  }
  .header__nav {
    grid-column: 1 / 2;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 0 15px;

    gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  .header__logo-wrapper {
    grid-column: 1 / 2;
  }
  .header__nav {
    grid-column: 1 / 3;
  }

  .js {
    .header__logo-wrapper {
      grid-column: 1 / 2;
    }
    .header__nav {
      grid-column: 2 / 3;
    }
  }
}
