.nav {
  display: flex;
  flex-direction: column;

  padding: 86px 15px 86px 60px;

  color: white;
  background-color: $primary-color;
}
.nav__goods-list {
  display: flex;

  margin-bottom: 113px;

  align-items: center;
  gap: 20px;
}
.nav__site-list {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  gap: 15px;
}
.nav__goods-link--cart {
  position: relative;

  display: block;

  color: inherit;

  @include size(24);

  &::after {
    position: absolute;
    top: -10px;
    left: 16px;

    display: flex;

    content: attr(data-cart-num);

    color: white;
    border-radius: 10px;
    background-color: $accent-color-d;

    justify-content: center;
    align-items: center;
    @include text(14, 19, 300);
    @include size(20);
  }
}
.nav__site-link {
  display: inline-block;

  padding: 5px 0;

  text-transform: uppercase;

  @include text(16, 24, 300);
}
.nav__site-link--active {
  cursor: default;

  font-weight: 700;
}
.nav__toggle-btn {
  display: none;

  color: $primary-color;

  order: -3;
}
.nav__toggle-btn--close {
  z-index: 4;

  color: white;
}

@media (max-width: 1199.98px) {
  .nav {
    flex-direction: row-reverse;

    padding: 20px 0;

    color: $primary-color;
    background-color: transparent;

    gap: 50px;
  }
  .nav__site-list {
    flex-direction: row;

    flex-wrap: wrap;
  }
  .nav__goods-list {
    margin-bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .nav {
    flex-direction: row;
  }
  .nav__goods-list {
    margin-left: auto;

    order: 1;
  }
}
@media (max-width: 767.98px) {
  .js {
    .nav {
      position: relative;

      flex-direction: row-reverse;

      width: 50vw;
    }
    .nav__goods-list {
      margin-left: auto;

      order: 1;
    }
    .nav__site-list {
      position: absolute;
      z-index: 2;
      top: 0;
      right: -15px;

      flex-direction: column;

      height: 100vh;
      padding: 60px 50px;

      transition: 0.5s;
      transform: translate(100vw);

      color: white;
      background-color: $primary-color;
    }
    .nav__site-list--open {
      transform: translate(0%);
    }
    .nav__toggle-btn {
      display: block;
    }
  }
}
