$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$accent: #C7A17A;

$root-font-size: 16px;

$primary-color: #415167;
$accent-color-d: #C7A17A;
$accent-color-l: #F9F5E8;
$gray-d: #151D28;
$gray-l: #EDF0F5;

$standard-font-size: 16;
