// 100: Thin
// 200: Extra Light (Ultra Light)
// 300: Light
// 400: Normal
// 500: Medium
// 600: Semi Bold (Demi Bold)
// 700: Bold
// 800: Extra Bold (Ultra Bold)
// 900: Black (Heavy)

@include font-face("Montserrat", "Montserrat-Black", 900);
@include font-face("Nunito", "Nunito-Bold", 700);
@include font-face("Nunito", "Nunito-LightItalic", 300, italic);
@include font-face("Nunito", "Nunito-Light", 300);
@include font-face("Nunito", "Nunito-Regular", 400);
@include font-face("Nunito", "Nunito-SemiBold", 600);

body {
  @include font(text);
  @include text(16, 22, 300);
}

html {
  font-size: 12px;
}
@media (min-width: 575.98px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 767.98px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 991.98px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1199.98px) {
  html {
    font-size: $standard-font-size;
  }
}
